<div>
  <ul class="media-list">
    <li class="media container"
        ng-repeat="promo in promos | filter:{category:filtCatText, type:filtTypeText, title:searchTerm}">
      <div class="row row-content">
        <div class="media-body">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span>{{promo.rating}}</span>
          <a ui-sref="app.promodetails({id: promo.id})">
            <h2 class="media-heading">{{promo.title}}</h2>
          </a>
          <p>{{promo.description}}</p>
          <p><a class="btn btn-primary btn-xs" ui-sref="app.promodetails({id: promo.id})">More &raquo;</a></p>
        </div>
        <div class="media-right">
          <a ui-sref="app.promodetails({id: promo.id})">
            <img class="media-object img-thumbnail" ng-src={{promo.image}}>
          </a>
          <span class="align-center">{{promo.price | currency}}</span>
          <div class="align-center">
            <a class="btn btn-success" ui-sref="app.promodetails({id: promo.id})">go to promo</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

